:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #e7e7e7;
  --text-secondary: #ffffff;
  --bg-primary: #2f2f2f;
  --bg-secondary: #252525;
  --bg-main: #968a6911;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}


main {
  margin-left: 5rem;
  padding: 0rem;
  overflow: auto;
}
.header-text{
  color: var(--text-primary);
  text-shadow: 0px 0px 0px none;
  transition: text-shadow 0.9s ease-out;
  white-space: nowrap;

}
.header:hover .header-text {
  text-shadow: 0px 0px 9px var(--text-secondary);
  transition: text-shadow 0.4s ease-in-out;
}

.header{
  position: fixed;
  background-color: var(--bg-secondary);
  padding-top: 0.9rem;
  width: 100%;
  height: 4.1rem;
  text-align: center;
  font-size: 45;
  font-family: Comfortaa;
  
}
.header-wrapper{
  position: fixed;
  background-color: #ffc30e;
  width: 100%;
  height: 5.2rem;
  display:block;
}
.navbar {
  position: fixed;

  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 115%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: opacity(0.7);
  transition: 300ms;
}
.nav-link:hover .header-text{
  color: var(--bg-secondary);
}
.nav-link:hover {
  filter: opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 0.2rem;
  white-space: nowrap;
}


.nav-link svg {
  width: 3rem;
  min-width: 3rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ffc30e;
}

.fa-secondary {
  color: #b38703;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.content{

  margin-top: 6.5rem;
  
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 0px 34px 7px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 34px 7px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 34px 7px rgba(0,0,0,0.36);
  background: var(--bg-main);

}
.content-text{
  padding-left: 10%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 5% ;
}
.logo {
  font-weight: lighter;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo svg {
  height: 4.5rem;
  width: 3rem;
  margin: 0 1.5rem;
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  filter: grayscale(0%) opacity(1);
  display: inline;
  padding-left: 0.3rem;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.logo-text-title{
  font-weight: bolder;
}
.logo-text-info{
  font-weight: lighter;
}
.navbar:hover .logo svg  {
  transform: rotate(-180deg);
}

/* Small screens */



@media only screen and (max-width: 600px) {
  
  .header{
    padding-top: 0.4rem;
    height: 2.6rem;
  }
  .header-wrapper{
    height: 3.2rem;
  }
  .header-text{
    font-size: 38;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo svg {
    padding-left: 0rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link{
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    font-size: 11;
    width: 3rem;
  }
  .content{
    margin-left: 6%;
    margin-right: 4%;
    margin-top: 4rem;
  }
  main {
    margin: 0;
  }
  
}

/* Large screens */ 
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }
  .logo svg {
    padding-left: 0rem;
  }
  
  .navbar:hover {
    width: 16rem;
  }
  
  .navbar:hover .header-text{
    color: var(--bg-secondary)
  }
  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  .content{
    margin-left: 6%;
    margin-right: 4%;
  }
}
/* Fullscreens */

@media only screen and (min-width: 1500px) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }
  
   .link-text {
    display: inline;
  }
  

   .logo svg
  {
    margin-left: 12rem;
  }

   .logo-text
  {
    left: 0px;
  }
  .content{
    margin-left: 15%;
    margin-right: 4%;
  }
}
@media only screen and (max-height: 600px) {
  .header{
    padding-top: 0.4rem;
    height: 2.6rem;
  }
  .header-wrapper{
    height: 3.2rem;
  }
  .header-text{
    font-size: 38;
  }
  .nav-link{
    height: 3rem;
  }
  .logo-text-info{
    font-size: 15;
  }
  .logo-text-title{
    display: none;
  }
  .logo{
    margin-bottom: 1rem;
    height: 3rem;
  }
  .logo svg{
    height: 2.6rem;
    width: 2.6rem;
  }
  .content{
    margin-top: 4rem;
  }
}
@media only screen and (max-height: 400px) {
  .header{
    padding-top: 0.2rem;
    height: 2rem;
  }
  .header-wrapper{
    height: 2.4rem;
  }
  .header-text{
    font-size: 32;
  }
  .nav-link{
    height: 2rem;
    font-size: 14;
  }
  .logo{
    margin-bottom: 0.4rem;
    height: 2.2rem;
  }
  .logo svg{
    height: 2.2rem;
    width: 2rem;
  }
  .content{
    margin-top: 4rem;
  }
  .logo-text{
    margin-top: 0.3rem;
  }
  .logo-text-title{
    display: initial;
  }
  .logo-text-info{
    display: none;
  }
}

/* Medium screens */


.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
