:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #000000;
    --text-secondary: #696969;
    --bg-primary: #ffffff;
    --bg-secondary: #7a786c;
    --bg-nav: #e7e3e36b;
    --bg-main: #272622;
    --transition-speed: 600ms;
}
* {
    box-sizing: border-box;
  }
html{
    overflow-x: hidden;
}
body{
    height: 150vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}

/******* HEADER *******/

.header-main{
    width: 100%;
    height: 6.0rem ;
}
.header-main div{
    display: block;
}
.logo{
    display: block;
}
.logo img{
    position: absolute;
    left: 0;
    width: 5rem;
    height: 2.8rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    transition: 1000ms;
}
.logo:hover img{
    filter: drop-shadow(0px 6px 12px rgba(50, 50, 0, 0.3));
    transition: 300ms;

}
.navbar-wrapper{
    white-space: nowrap;
    position: absolute;
    right: 0rem;
}
.navbar-wrapper div{
    display:inline-block;
}
.navbar-nav{
    list-style-type: none;
}
.navbar ul{
    white-space: nowrap;
}
.nav-item{
    display: inline-block;
    transition: 300ms;
    border-radius: 0.3rem;

}
.nav-item:hover{
    background-color: var(--bg-nav) ;
    color: var(--text-primary);
}
.nav-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 8rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: 300ms;
}
.contact{
    margin-right: 2rem;
}
.nav-link svg{
    width: 1rem;
    height: 1rem;
}
.menu-icon{
    display: inline-block;
    margin: auto 1rem;
    height: 4rem;
    width: 4rem;
}

/******* SLIDE NAVBAR *******/

.slide-nav-wrapper{
    display: inline-block;
    position: fixed;
    right: -15rem;
    top: 0rem;
    height: 100%;
    width: 15rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: 35;
    transition: var(--transition-speed);
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.671));

}
.slide-nav{
     list-style-type: none;
}
.slide-nav a{
    color: var(--text-primary);
    text-decoration: none;
}
.slide-nav li{
    margin: 2rem 0;
}
.slide-nav-item:last-child{
    position: absolute;
    bottom: 0;
}
.menu-icon:hover + .slide-nav-wrapper {
  transform: translate3d(-15rem, 0, 0);
  transition: var(--transition-speed);
  animation-timing-function: 1s ease-in;
}
.slide-nav-wrapper:hover{
    transform: translate3d(-15rem, 0, 0);

}
/******* CONTENT-1 *******/

.content-1{
    width: 100%;
    height: 30rem;
    background-color: var(--bg-primary);
    white-space: nowrap
}
.content-1-bg img{
    height: 25rem;
}
.content-1-left, .content-1-right{
    position: absolute;
    display: inline-block;
    top: 0rem;
    margin-top: 9rem;
    width: 50%;
    height: 30rem;
    text-align: center;
}
.content-1-left{
    left: 0;

}
.content-1-right{
    right: 0;
}
.content-1-title{
    white-space: nowrap;
    font-family: 'Playfair Display' ;
    font-size: 80;
    font-weight: bold;
}
.content-1-quote{
    padding: 2rem 0 4rem;
    font-family: 'Montserrat';
    font-size: 45;
    letter-spacing: 0.5rem;
}
.content-1-button-wrapper{
    position: relative;
}
.content-1-link{ 
    display: inline-block;
    position: relative;
    width: 13rem;
    height: 3rem;
    line-height: 2.8rem;
    font-size: 20;
    color: var(--text-primary);
    text-decoration: none;
    border: 2px solid #bdbdbd;
    border-radius: 1rem;
    background: var(--bg-primary);
    transition: var(--transition-speed);
    
}
.content-1-link:hover{
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    border-color: var(--bg-secondary);
    
    transition: var(--transition-speed);
}
.content-1-button{
    margin-top: 0.7rem;
}
/******* CONTENT-2 *******/
.content-2{
    margin: 2rem 0;
}
.c2-bar{
    width: 80%;
    margin: 0 auto;
    font-size: 22;
    line-height: 5rem;
    color: var(--text-primary);
    text-align: center;
}
.c2-card{
    width: 80%;
    margin: 0 auto;
    box-shadow: -1px 3px 28px 0px rgba(0, 0, 0, 0.897)  ;
    
}
.content-2-seg-1{

}
.content-2-heading{
    margin: 0  auto 2rem auto;
    padding-top: 2rem;
    height: 5rem;
    color: var(--text-primary);
    font-size: 32;
    font-weight: bold;
    text-align: center;

}
.o-list{
    font-size: 22;
    margin: 0 15%;
    padding-bottom: 4rem;
}
/******* FOOTER *******/

.footer{
    position: absolute;
    bottom: 0;
    background: var(--bg-main);
     color: var(--bg-primary);
    height: 6rem;
    width: 100%;
     padding: 0 20px;
     text-align: center;
    white-space: nowrap;
}
.footer div{
    display: inline-block;
    width: 14%;
    margin: 2.5rem 2rem 0 2rem ;
}
/****** SLIDESHOW *********/



/******* RESPONSIVE SELECTORS *******/

/******* SMALLEST SCREENS *******/

@media only screen and (max-width: 645px) {
    .content-1-bg img{
        scale: 0.7;
    }
    .nav-item:nth-child(1), .nav-item:nth-child(2), .nav-item:nth-child(3)  {
        display: none;
    }
   
    .contact{
        margin-right: 0rem;
    }
    .content-1-title {
        padding: 1rem 0 0 0;
        font-size: 42;
    }
    .content-1-quote{
        font-size: 28;
    }
    .nav-link{
        width: 5rem;
    }
    .content-1{
        height: 20rem;
    }
   
}

/******* MEDIUM SCREENS *******/

@media only screen and (min-width: 645px) {
    .content-1-title {
        font-size: 80;
    }
    .menu-icon{
        visibility: hidden;
    }
    .navbar-wrapper{
        transform:translate(8rem, 0)
    }
    
}
/******* WIDE SCREENS  *******/

@media only screen and (min-width:930px){

}
/******* BREAK SELECTORS ********/
@media only screen and (max-width:1354px){
    .content-1-bg img{
        height: 20rem;
    }
    .content-1-left, .content-1-right{
        width: 100%;
    }
    .content-1-right{
        margin-top: 30rem;
    }

  
    }
}



