/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #000000;
    --text-secondary: #696969;
    --bg-primary: #ffffff;
    --bg-secondary: #e7e7e7;
    --bg-nav: #e7e3e36b;
    --bg-main: #272721;
    --transition-speed: 600ms;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
html{
    overflow-x: hidden;
}
body{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}

body::after {
    content: '';
    display: block;
    height: 12rem;
}
/******* HEADER *******/

.header-main{
    position: absolute;
    width: 100%;
    height: 7.0rem ;
    z-index:99 ;
    background:var(--bg-primary)
}
.header-main div{
    display: block;
}
.logo{
    display: block;
}
.logo img{
    position: absolute;
    left: 0;
    width: 5rem;
    height: 2.8rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
}
.logo:hover img{
    -webkit-filter: drop-shadow(0px 6px 12px rgba(50, 50, 0, 0.3));
            filter: drop-shadow(0px 6px 12px rgba(50, 50, 0, 0.3));
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;

}
/******* NAVBAR *********/

.navbar-wrapper{
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navbar-wrapper div{
    display:inline-block;
}
.navbar-1{
    display:inline-block;
}
.navbar-nav{
    list-style-type: none;
}
.navbar ul{
    white-space: nowrap;
}
.nav-item{
    display: inline-block;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    border-radius: 0.3rem;
}
.nav-item:hover{
    background-color: var(--bg-nav) ;
    color: var(--text-primary);
}
.nav-link
{
    font-size: 17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4rem;
    width: 8rem;
    color: var(--text-secondary);
    text-decoration: none;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.contact{
    width: 8rem;

}

.menu-icon-wrapper{
    -webkit-transform: translateY(1.7rem);
        -ms-transform: translateY(1.7rem);
            transform: translateY(1.7rem);
}
.menu-icon{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    cursor: pointer;
    z-index: 99;
}
.menu-icon svg{
    margin: 1.3rem auto 0 auto;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    
}

/******* SLIDE NAVBAR *******/


.slide-nav-wrapper{
    position: absolute;
    height: 16rem;
    right: 0;
    width: 12rem;
    margin-top: 2rem;
    background: var(--bg-primary);
    -webkit-transform: translateX(12rem);
        -ms-transform: translateX(12rem);
            transform: translateX(12rem);
     -webkit-transition: var(--transition-speed);
     -o-transition: var(--transition-speed);
     transition: var(--transition-speed);
     -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
             box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
     opacity: 0%;
}
.slide-nav{
    margin:0;
    padding:0;
}
.slide-nav li a{
    height: 4rem;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);
}
.slide-nav li{
    list-style: none;
}
.slide-nav-item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20;
    padding-left: 1rem;

    height: 4rem;
    width: 100%;
    background: var(--bg-primary);
    -webkit-transition: var(--transition-speed);
    -o-transition: var(--transition-speed);
    transition: var(--transition-speed);
    line-height: 4rem;

}
.menu-icon-wrapper:hover + .slide-nav-wrapper {
  -webkit-transition: var(--transition-speed);
  -o-transition: var(--transition-speed);
  transition: var(--transition-speed);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 100%;

}
.slide-nav-wrapper:hover{
  opacity: 100%;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.slide-nav-item:hover{
    background-color: var(--bg-main);
    color: #f3d89f;
  -webkit-transition: var(--transition-speed);
  -o-transition: var(--transition-speed);
  transition: var(--transition-speed);

}

/******* FOOTER *******/
.footer{
    position: absolute;
    bottom: 0;
    background: var(--bg-main);
     color: var(--bg-primary);
    height: 12rem;
    width: 100%;
    text-align: center;
}
.ft-section{
    display: inline-block;
    overflow-wrap: break-word;
}
.ft-section a{
    text-decoration: none;
    color: var(--bg-primary);
}
.ft-title{
    display: inline-block;
    margin-top: 2rem;
    font-size: 20;
    white-space: nowrap;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #f3c385;
    -webkit-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
            transform: translateX(-1rem);
}
.ft-desc{
    margin-top: 1rem;
    font-size: 14;
    
    overflow-wrap: break-word;
}
.fts-1{
    width: 25rem ;
    position: absolute;
    left: 4rem;
    text-align: left;
    
}
.fts-2{
    margin-top: 1.5rem;
    -webkit-transform: translateX(-1.5rem);
        -ms-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
    width: 15rem ;
}
.fts-3{
    position: absolute;
    
    right: 2rem;
    margin-top: 5rem;
    font-size: 20;
    width:7rem ;
}
.ft-author{
    display: inline-block;
}
.ft-icon{
    display: inline-block;
    
}
.ft-icon svg{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
    -webkit-transform: translateY(0.5rem);
        -ms-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    fill: #f3cc85;
}
.fts-2-phone{
    margin: 2rem 0 1rem 0;
}
#phone, #mail{
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}

.fts-2-phone:hover #phone{
    fill: #d3a62b;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.fts-2-mail:hover #mail{
    fill: #d3a62b;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}


.stamp{
    display: block;
    position: absolute;
    width: 100%;
    bottom:-1.2rem ;
    height: 1.5rem;
    font-size: 11;
    background: rgb(34, 32, 32);
    color: var(--bg-secondary);
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}
.stamp:hover{
    color: #d3a62b ;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;

}
.stamp:hover svg{
    fill: #dbb755a6;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.stamp svg{
    margin: 0 0.5rem;
    height: 1rem;
    width: 1rem;
    -webkit-transform: translateY(0.2rem);
        -ms-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    fill: var(--text-secondary);
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}
/******* RESPONSIVE SELECTORS *******/

/******* SMALL SCREENS *******/

@media only screen and (max-width: 645px) {
    .content-1-bg img{
        -webkit-transform: translateY(-3rem);
            -ms-transform: translateY(-3rem);
                transform: translateY(-3rem);
    }
    .nav-item:nth-child(1), .nav-item:nth-child(2), .nav-item:nth-child(3)  {
        display: none;
    }
   
    .contact{
        margin-right: 0rem;
    }
    .content-1-title {
        padding: 0 0 0 0;
        font-size: 42;
    }
    .content-1-quote{
        font-size: 28;
    }
    .nav-link{
        width: 5rem;
    }
    .content-1{
        height: 20rem;
    }
    .olist{
        font-size: 25;
    }
    .fts-2{
        position: absolute;
        left: 1rem;
    }
}

@media only screen and (max-width: 1116px) {
    .fts-1 {
        visibility: hidden;
    }
}

/******* MEDIUM SCREENS *******/

@media only screen and (min-width: 645px) {
    .content-1-title {
        font-size: 80;
    }
    .menu-icon-wrapper{
        visibility: hidden;
    }
    .navbar-1{
        -webkit-transform: translateX(4rem);
            -ms-transform: translateX(4rem);
                transform: translateX(4rem);
    }
    
}
/******* WIDE SCREENS  *******/

@media only screen and (min-width:930px){

}




