/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/




.content-a{
    display: block;
    width: 100%;
    text-align: center;
    color: var(--text-primary);
    padding-top: 10rem ;
}
.map-title{
    font-size: 30px;
    font-family: 'Montserrat';
    color: var(--text-secondary);

}
.map-wrapper{
    float:left;
    width: 50%;
    height: 25rem;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.692));

}

.text-wrapper{
    display: inline-block;

    text-align: center;
    width: 50%;
    height: 30rem;


}
.tw-1{
    color: var(--text-secondary);
    font-size: 34px;
    font-weight: bold;
    font-family: 'Montserrat';
    right: 0;
    height: 5rem;
    margin: 0 auto;
}
.tw-i{
    white-space: nowrap;
    text-align: left;
    list-style-type: none;
    font-size: 27px;
    font-family: 'Montserrat';
    height: 5rem;
    width:30rem;
    top: 5rem;
    right: 5rem;
    line-height: 3rem;
}
.tw-i a{
    color: var(--text-primary);

}

@media only screen and (max-width: 1645px) {

    .map-wrapper, .text-wrapper {
        width: 100%;
        float: none;
    }

    .tw-wrapper {
        width: 100%;
        text-align: center;
    }
    .map-title {
        margin-bottom: 2rem;
    }
    .map-wrapper {
    }

    .tw-i {
        width: 80%;
        margin: 0 10%;
    }

    .tw-1 {
        margin-top: 2rem;
    }

    .content-a {
        height: 60rem;
    }
    .text-wrapper{
    }

}
@media only screen and (min-width: 1645px) {
    body{
        height:100%;
    }
    .map-title{
        margin-bottom: 1rem;
    }


}
@media only screen and (max-width: 529px) {
    .tw-i{
        font-size: 5vw;
    }
    .tw-i {
        width: 100%;
        margin: 0 ;

    }

}
@media only screen and (max-width: 600px) {
    .map-wrapper iframe{
        width: 100%;
    }
}
