/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.header-main {


}
.content-wrapper{
    display: inline-block;
    position: relative;
    margin:10%  0 8rem 0;


}
.video-wrapper{
    width: 100%;
    overflow: hidden;
    position: absolute;
    align-content: center;
    height:40rem;            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.692));



}
.video-wrapper video{
    width: 100%;

    opacity: 0.7;
    filter: brightness(0.4);
    z-index: 1;

}

.caption{
    width: 100%;
    margin-top: 15rem;
    padding-right:1.5rem;
    font-size: 18px;
}
.t-list{
    list-style-type: none;
    width: 95%;

}
.t-list-item{
    margin: 1rem 0;
    padding-left:1vw ;
    color: var(--text-primary);
    border-left: 5px solid var(--text-secondary);


}
.content-caption{
    white-space: nowrap;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 6rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--text-secondary);
}
.content{
    color: var(--text-secondary);
}

.content-1{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 30rem;
}
.content-1-img{
    display: inline-block;
    margin: 10rem 0 0 0;
}
.content-1-img img{
    display: inline-block;
    height: 20rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.content-1-img img:hover{
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.692));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.692));
    scale: 1.1;
    -webkit-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}
.content-1-text{
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: -0.1rem;
    display: inline-block;
    position: relative;
    font-size: 26;
    height: 3rem;
    white-space: pre-wrap;
}
.content-2{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 30rem;
}

.content-2-text{
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: -0.1rem;
    display: inline-block;
    position: relative;
    font-size: 26;
    height: 3rem;
    white-space: pre-wrap;
}
.content-3{
    display: inline-block;
    margin: 0 auto 5rem auto;
    text-align: center;
    width: 90%;
    height: 30rem;
}
.content-3-text{
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: -0.1rem;
    display: inline-block;
    position: relative;
    font-size: 26;
    height: 3rem;
    white-space: pre-wrap;
    
}


@media only screen and (max-width: 989px) {
    .content-1-text, .content-2-text, .content-3-text{
        display: block;
        width: 100%;
        white-space: nowrap;
        font-size: 24px;
        margin-top: 2rem;
    }
    .content-caption {
        font-size: 8vw;
    }
    .video-wrapper video{
        width: unset;
        margin-left: -30rem;
        margin-top:0;
    }
}
@media only screen and (max-width: 381px) {
    .content-1-text, .content-2-text{
        font-size: 20;
    }
    .content-1-img img{
        height: 15rem;
    }
    .content-1, .content-2, .content-3{
        height: 20rem;
    }
}
@media only screen and (min-width: 1613px) {

    .video-wrapper video{

        margin-top: -20%;
    }
}
@media only screen and (max-width: 381px) {

}
@media only screen and (min-width: 2500px) {
    .caption{
        margin-top: 5%;
    }
}
@media only screen and (max-width: 525px) {
    .caption{
        margin-top: 30%;
    }

}
