.content-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45rem;
    padding-top: 12rem;
    text-align: center;
}
.seg{
    display: inline-block;
    position: relative;
    top: 0;
    width: 40%;
    padding: 0 1rem;
    font-family: 'Montserrat';
}
.seg-item{
    display: inline-block;

    margin-bottom: 5rem;

}
.seg-title{
    margin: 0 0 1rem 0 ;
    width: 40%;
    font-size: 25;
    white-space: nowrap;
    border-left: 5px solid #056b13;
    text-align: left;
}
.seg-caption{
    display: inline-block;
    text-align: left;
    margin: 0 auto;

}
.seg-1{
        transform: translateX(-5rem);
    }

@media only screen and (max-width: 858px ) {
    .seg{
        display: contents;
        width: 100%;
    }
    .seg-caption{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .content-wrapper{
        height: 65rem;
    }
    .seg{
        text-align: center;

    }
    
    .seg-title{
        margin: 0 auto;
        transform: translateY(-1rem);
    }
    .seg-1{
        transform: translateX(-4rem);
    }
}
